{% extends 'base.html' %}

{% block navbar_right %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link " href={% url 'student' %}>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href={% url 'view_status' %}>View status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href={% url 'profile' %}>profile</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href={% url 'logout' %}><i class="fas fa-sign-out-alt"></i>Logout</a>
    </li>
</ul>
{% endblock navbar_right %}
{% block user_type %}
    (<h5 class="text-danger">student</h5>)

{% endblock user_type %}

{% block body %} 
<h2 class="text-center m-5"> View Status of Event Registration Here </h2>

<div class="container">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>slNo</th>
                <th>Event Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Resgistered Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in regEventList %}
            <tr>
                <td> {{forloop.counter}}</td>
                <td><h4>{{event.0}}</h4></td>
                <td>{{event.1}}</td>
                <td>{{event.4|date:'Y-m-d'}}</td>
                <td>{{event.5|date:'Y-m-d'}}</td>
                <td>{{event.3|date:'Y-m-d H:i'}}</td>
                <td><a class="h5 text-danger" href="{% url 'delete_reg' event.6 %}"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock body %}