
{% extends 'base.html' %}

{% block title %} Login {% endblock%}

{% block body %}

    <div class="container d-flex justify-content-center">
            <div id="card_login"  class="shadows mt-5 p-4 rounded-circle">
                <div class="card-title text-center p-2 h2 "><strong>Login</strong></div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <label for="" class="form-label">EMail</label>
                            <input type="text" name="email" onChange={onChangeHandler} class="form-control" />
                        </div>
                        <div class="row mt-3">
                            <label for="" class="form-label">Password</label>
                            <input type="password" name="password" onChange={onChangeHandler} class="form-control" />
                        </div>
                        <div class="row m-3">
                            <button class="btn btn-primary rounded " onClick={onSubmit} name="login">Login</button>
                        </div>
                    </div>
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
{{form.as_p}}
{% endblock%}

